.artist-profile-container {
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
  min-height: 70vh;
}

.artist-profile-container > img {
  max-width: 300px;
}

.artist-info {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  align-items: center;
  width: 50%;
  margin-left: auto;
}

.artist-info > label {
  font-size: 1.5rem;
  font-weight: bold;
}

.bio {
  max-height: 200px;
  overflow: auto;
}
